@require './wrapper.styl'
@require "./variables.styl"
@require '../font/iconfont.css'
*,
*::before,
*::after {
  box-sizing border-box
}
html, body
  background-color $bgColor

.content__default 
  @extend $wrapper