@require './wrapper.styl'
@require "./variables.styl"

*,
*::before,
*::after {
  box-sizing border-box
}

a 
  color: $accentColor

.content__default 
  @extend $wrapper

blockquote 
  font-size .9rem
  color #999
  border-left .5rem solid rgba(102,128,153,.075)
  background-color rgba(102,128,153,.05)
  margin .5rem 0
  padding .25rem 0 .25rem 1rem
