// colors
$lineCodeColor = #c7254e
$lineCodeBgColor = #f9f2f4
$themeColor = #59aceb
$accentColor = $themeColor
$shadowColor = rgba(0, 0, 0, 0.2)
$headColor = linear-gradient(-90deg, #77ACDC 0, #77AAFF 100%);
$bgColor = linear-gradient(
  180deg,
  #f5f1f1 30%,
  #eff1f3 45%,
  #f7f4ee 71%,
  #efefef 91%
)
$activeBgColor = rgb(221, 221, 220);
$titleColor = #333
$color = #727272
$borderColor = #e0e0e0
$titleHoverColor = #fff
$tag-color-1 = rgb(216, 236, 227)
$tag-color-2 = rgb(220, 226, 238)
$tag-color-3 = rgb(236, 208, 225)
$tag-color-4 = rgb(238, 225, 213)
$tag-color-5 = rgb(241, 241, 215)
$tag-color-6 = rgb(221, 221, 220)

// layout
$footerHeight = 150px
$sidebarWidth = 250px
$headerHeight = 50px

